
@{
    ViewBag.Title = "Colours";
}

<script src="~/Scripts/plotly-latest.min.js"></script>
<script src="~/Scripts/Common/Colour.js"></script>
<script src="~/Scripts/Common/Vector.js"></script>
<script src="~/Scripts/Emergence/Colours.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Colours.css" />

<h2>TEST</h2>

<table id="coloursTable">
    <tr>
        <td>
            <div class="graphDiv" id="graphDiv0"></div>
        </td>
        <td>
            <div class="runDiv" id="runDiv0"></div>
        </td>
        <td>
            <div class="lineDiv" id="lineDiv0"></div>
        </td>
        <td>
            <div class="gridDiv" id="gridDiv0"></div>
        </td>
    </tr>
</table>

