
@{
    ViewBag.Title = "Colours";
}

@Scripts.Render("~/bundles/colours")
<link rel="stylesheet" type="text/css" href="~/Content/Colours.css" />

<h2>Colours</h2>

<div class="colourBarDiv">
    <!-- width will be overriden by javascript set up-->
    <canvas id="titleCanvas" class="controlledCanvas colourBar" height="40" width="100"></canvas>
</div>
<p>
    Colours are pretty interesting. 
    The colours in the line above were chosen at random - there are lots of different ways of picking random colours,
    and the method you choose will have a large affect on the set of colours you end up with.
</p>
<p>
    Here's a button you can click to pick a brand new set.
</p>
<button id="titleCanvasRandomiserButton" class="btn-basic">Click</button>
<table id="coloursRandomWalkTable" class="table">

</table>
<p>
    Computers make it so easy to play around with random colours. The most common way to think about them (if you're a computer, anyway)
    is to break them down into their red, blue and green components.
</p>
<p>
    This is a nice way of thinking about things, because we can treat our colours as vectors: [r, g, b]. Every colour sits at a point in 3D colour space!
</p>
<p>
    I'm even more interested in how we can pick colours at random.
</p>
<p>
    We can have a bunch of colour particles do random walks (i.e. bounce around randomly).
</p>
<table id="coloursTable" class="table">
    <tr>
        <td>
            <div class="runDiv" id="runDiv0"></div>
        </td>
        <td>
            <div class="graphDiv" id="graphDiv0"></div>
        </td>
        <td>
            <div class="lineDiv" id="lineDiv0"></div>
        </td>
        <td>
            <div class="gridDiv" id="gridDiv0"></div>
        </td>
    </tr>
    
    <tr>
        <td>
            <div class="runDiv" id="runDiv1"></div>
        </td>
        <td>
            <div class="graphDiv" id="graphDiv1"></div>
        </td>
        <td>
            <div class="lineDiv" id="lineDiv1"></div>
        </td>
        <td>
            <div class="gridDiv" id="gridDiv1"></div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="runDiv" id="runDiv2"></div>
        </td>
        <td>
            <div class="graphDiv" id="graphDiv2"></div>
        </td>
        <td>
            <div class="lineDiv" id="lineDiv2"></div>
        </td>
        <td>
            <div class="gridDiv" id="gridDiv2"></div>
        </td>
    </tr>

</table>

