
@{
    ViewBag.Title = "Colours";
}

<script src="~/Scripts/plotly-latest.min.js"></script>
<script src="~/Scripts/Emergence/Colours.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Colours.css" />

<h2>RGB</h2>
<p>
    Colours are pretty interesting. The most common way to think about them (at least, if you're a computer) 
    is to break them down into their red, blue and green components.
</p>
<p>
    This is a nice way of thinking about things, because we can treat our colours as vectors: [r, g, b]. Every colour sits at a point in 3D colour space!
</p>
<p>
    I'm even more interested in how we can pick colours at random.
</p>
<table id="coloursTable">
    <tr>
        <td>
            <div class="graphDiv" id="graphDiv0"></div>
        </td>
        <td>
            <div class="runDiv" id="runDiv0"></div>
        </td>
        <td>
            <div class="lineDiv" id="lineDiv0"></div>
        </td>
        <td>
            <div class="gridDiv" id="gridDiv0"></div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="graphDiv" id="graphDiv1"></div>
        </td>
        <td>
            <div class="runDiv" id="runDiv1"></div>
        </td>
        <td>
            <div class="lineDiv" id="lineDiv1"></div>
        </td>
        <td>
            <div class="gridDiv" id="gridDiv1"></div>
        </td>
    </tr>

</table>

