@{
    ViewBag.Title = "Emergence";
}

<h3>@ViewBag.Title</h3>
<script src="~/Scripts/Common/Colour.js"></script>
<script src="~/Scripts/Emergence/Emergence.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Emergence.css" />
<div id="canvases">
    <canvas id="canvas0" width="800" height="500" ></canvas>
    <canvas id="canvas1" width="800" height="500"></canvas>
</div>

