@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/Emergence/Index.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" />

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Colours", "Colours", "Emergence")</h2>
        <p>
            Colours are pretty interesting.
        </p>
        <div class="clickable" onclick="window.location.href='@Url.Action("Colours", "Emergence")';">
            <canvas id="canvasIndex0" class="gridDiv" width="100" height="100"></canvas>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <p>We demand more stuff</p>
    </div>
    <div class="col-md-4">
        <h2>Else</h2>
        <p>Add more stuff.</p>
    </div>
</div>