/* Don't set the width/height of canvases via css.
   They have intrinsic and extrinsic dimensions, css messes with the extrinsic.
*/
.colourBarDiv{
    width:inherit;
}

.colourBar{
    width:100%;
    height:40px;
}

.graphDiv{
    width: 200px;
    height: 200px;
}

.runDiv{
    border:solid;
    border-width:medium;
    width: 200px;
    height: 200px;
    background-color:lightgray
}

.runDiv.active{
    background-color:darkseagreen
}

.lineDiv{
    border:solid;
    border-width:medium;
    width: 400px;
    height: 200px;
}

.gridDiv{
    border:solid;
    border-width:medium;
    width: 200px;
    height: 200px;
}